<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#forms">Forms</a></li>
                <li role="presentation"><a href="#forms">Fields</a></li>
            </ul>
    <div class="table-responsive" ng-controller="FormController as vm">
                <table id="formsTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th><i class="fa fa-fw fa-sort"><span class="glyphicon glyphicon-triangle-bottom"></span>Form Name</i></th>
                        <th><i class="fa fa-fw fa-sort"><span class="glyphicon glyphicon-triangle-bottom"></span>Action</i></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input ng-model="vm.formTitle" class="form-control" placeholder="name" type="text"></td>
                        <td>
                            <button ng-click="vm.addForm(vm.form)" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button ng-click="vm.updateForm(vm.form)" type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </td>
                    </tr>
                    <!-- // Second row to show forms dynamically -->
                    <tr ng-repeat="form in vm.forms">
                        <td><a href="#/form/{{form._id}}/field">{{form.title}}</a></td>
                        <td>
                            <button ng-click="vm.deleteForm($index)" type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button ng-click="vm.selectForm($index)" type="button" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
     </div>
</div>
