
    <div ng-controller="MainController as vm" class="col-sm-9 col-md-9 main">
        <h1 class="page-header">Welcome {{currentUser.username}}!</h1>
        <p style="height:20px;"></p>
        <p></p>
        <p class="lead">
            We are so happy to see you again. While we are trying to serve you the best and make your experience using Check Log Enjoyable,
            please feel free to write to us at mallikarjun.s@husky.neu.edu with any feedback or comments.
            <br>
            <br>
            It will be in our great pleasure to hear from you!
            <br>
            <br>
            Thank you,
            <br>
            Check Log and team
        </p>
       <!-- <img src="http://26.media.tumblr.com/tumblr_m20e611it81qzt4vjo1_500.gif"> -->
        <a href='#' target='_blank'><img src='https://s31.postimg.org/3zlys1ul3/papers.gif' border='0' alt='postimage'/>"</a>
</div><!-- /.container -->


